html{
    background-image: url("letraspexel.jpg");
    background-size: cover;
}
h1 {
    font-size: 60px; 
    background-color: #851944; 
    color: #FFF; 
    text-align: center;
}
body{
    font-size: 22px;
    text-align: center;
    color: black;
    background-color: cornflowerblue;
}
.btm {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    
}